body {
	position: relative;
	background-color: #f5f5f5;
}

hr {
	margin: 30px 0;
	border-color: #6d9ede;

}

ul {
	max-width: 400px;
	background-color: #fff;
	box-shadow: 0 0 1px rgba(0,0,0, .5);
}

li {
	padding: 5px 0;
	font-size: 16px;
	font-weight: 600;
}

button {
	cursor: pointer;
}

button:disabled {
	background-color: #ff0000;
	color: #fff;
	cursor: default;
}

.strike {
	text-decoration: line-through;
	color: #333;
}

.popup {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100%;
	max-width: 350px;
	padding: 30px;
	border: 2px solid #000;
	background-color: #fff;
	text-align: center;
	transform: translate(-50%, -50%);
}

.box {
	width: 200px;
	height: 200px;
	background-color: green;
}

/* Transition */

.slide {
	transition: 1.5s all;
} 

/* Анимация перехода */
.slide-enter-active, .slide-leave-active {
    transition: all .3s cubic-bezier(.65, .05, .36, 1);
}

.slide-enter, .slide-leave-active {
	transform: translateX(-100%);
}


.switch {
	transition: 1.5s all;
}

.switch-enter-active {
    transition: all 1.5s cubic-bezier(.65, .05, .36, 1);
}

.switch-leave-active {
	transition: all .5s linear;
}

.switch-enter-active {
	transform: scale(1);
}

.switch-enter, .switch-leave-active {
	transform: scale(0.3);
}

 /* Transition END */

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, .6);
}

.modal__overlay {
	
}

.modal__content {
	display: inline-block;
	width: 100%;
	max-width: 350px;
	background-color: #fff;
	font-size:  20px;
	text-align: center;
}

.modal__footer {
	border-top: 2px solid #ccc;
	background-color: #6d9ede;
}

.car {
	max-width: 300px;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #333;
	background-color: #ccc;
}

.square {
	width: 100px;
	height: 100px;
	background-color: #cec;
}

.triangle {
	width: 0;
	height:  0;
	border-style: solid;
	border-width: 0 50px 100px 50px;
	border-color: transparent transparent #007bff;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #333;
}

/* Tabs */

.tabs__nav {
	border-bottom: 1px solid #000;
	font-family: "Arial", serif;
}

.tabs__container {
	background-color: #fff;
	padding: 10px;
}

.tabs__item {
	display: inline-block;
	padding: 5px;
	background-color: #ccc;
	color: green;
	font-size: 20px;
	text-decoration: none;
}

.tabs__item.is-active {
	background-color: #87cefa;
}