<html>
<head>
	<meta charset="UTF-8">
	<title>Vue Js</title>
	<!-- stylesheet -->
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="css/main.css"></link>
</head>
<body>

	<div id="app">
		<h1>{{ message }}</h1>
		<input type="text" v-model="message">
		<pre>
			{{ $data }}
		</pre>
	</div>

	<hr>

	<div id="list-bears">
		<h2>List Bears</h2>
		<ul>
			<li v-for="bear in bears" v-bind:class="{ 'strike': bear.status }">{{ bear.name }}</li>
		</ul>
	</div>

	<hr>	

	<div id="popup">
		<h2>Popup click-event</h2>
		<!-- 
			Событие на нажатие клавишу на клавиатуре
			<input type="text" v-model="message" v-on:keyup.enter="showConsoleLog">
		-->
		<button v-on:click="showPopup"><i class="ion-social-tux"></i>Show Popup</button>		
		<div class="popup" v-if="seen">
			<h3>{{ popupTitle }}</h3>
			<p>{{ popupText }}</p>
		</div>
	</div>

	<hr>
	<div id="transitions">
		<!--
			v-show - меняет display: block/none
			v-if - удаляет/вставлялет элемент в DOM
		-->
		<h2>Transitions</h2>		
		<button v-on:click="show = !show">Show BOX</button>
		<transition name="slide">
			<div class="box" v-show="show"></div>
		</transition>		
	</div>

	<hr>

	<div id="calcProperties">
		<h2>Вычисляемые свойства</h2> 
		<form action="">
			<span>{{ count }} / {{ maxLength }}</span>
			<textarea v-bind:maxlength="maxLength" v-model="text"></textarea>
			<button v-bind:disabled="count < 30">Submit</button>
		</form>
	</div>

	<hr>

	<div id="modal">
		<h2>Компоненты</h2>
		<modal buttontext="Хорошо">Вопрос 1</modal>	
		<modal buttontext="Согласен">Вопрос 2</modal>	
	</div>

	<template id="modal-template">
		<div class="modal-wrapper">
			<div class="modal" v-show="active">
				<div class="modal__overlay" v-on:click="close()"></div>
				<div class="modal__content">
					<div class="modal__body">
						<h3><slot></slot></h3>
					</div>
					<div class="modal__footer">
						<button v-on:click="onConfirm()">{{ buttontext }}</button>
						<button v-on:click="onCancel()">Отмена</button>
					</div>
				</div>
			</div>

			<a href="#" class="link" v-on:click.prevent="open()">Ссылка</a>
		</div>
	</template>

	<script src="https://unpkg.com/vue"></script>
	<script src="js/main.js"></script>
</body>
</html>