<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>vue-learning</title>
</head>
<body>
	<div id="app">

		<main-header></main-header>

		<!-- <h2>Add Book</h2>
		<div v-for="book in books">
			<p>Book title: <a v-bind:href="book.url">{{ book.title }}</a>, author: <strong>{{ book.author }}</strong></p>
			<div><button @click="deleteBook(book)">Delete book</button></div>
		</div>
		<div>
			<input type="text" placeholder="Enter title" v-model="newBook.title">
			<input type="text" placeholder="Enter author" v-model="newBook.author">
			<input type="text" placeholder="Enter url" v-model="newBook.url">
			<button @click="addBook()">Add book</button>			
		</div> -->

		<div class="main-content">
			<router-view></router-view>
		</div>
		
	</div>




	<style>
		* {
			box-sizing: border-box;
		}
		
		body {
			font-family: 'Avenir', Helvetica, Arial, sans-serif;
		}

		img {
			max-width: 100%;
			height: auto;
		}
		
		.main-content {
			max-width: 1200px;
			margin-left:  auto;
			margin-right: auto;
		}
	</style>
	
	<script src="/dist/build.js"></script>
</body>
</html>
